In [1]:
# requests library handles the HTTP methods and requests for Python
import requests

url ='https://air-quality-by-api-ninjas.p.rapidapi.com/v1/airquality'

headers = {
    'X-RapidAPI-Host': 'air-quality-by-api-ninjas.p.rapidapi.com',
    'X-RapidAPI-Key': '39bef7d171msh47b87402a02c35bp1d3674jsn9bc769a834e7'
  }

params = {'city':['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon'] }

air_city =[]
for city in params.values():
  for subcity in city:
    print(subcity)
    air = requests.get(url,headers = headers,params = {'city': subcity})
    air_city.append([subcity,air.content])
    air.headers
    
air_city

Dublin
Amsterdam
Madrid
Paris
Berlin
Milan
London
Barcelona
Frankfurt
Lisbon

[['Dublin',
  b'{"CO": {"concentration": 205.28, "aqi": 2}, "NO2": {"concentration": 3.21, "aqi": 4}, "O3": {"concentration": 59.37, "aqi": 51}, "SO2": {"concentration": 1.36, "aqi": 2}, "PM2.5": {"concentration": 2.19, "aqi": 7}, "PM10": {"concentration": 2.49, "aqi": 2}, "overall_aqi": 51}'],
 ['Amsterdam',
  b'{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration": 9.08, "aqi": 11}, "O3": {"concentration": 97.28, "aqi": 155}, "SO2": {"concentration": 1.49, "aqi": 2}, "PM2.5": {"concentration": 3.31, "aqi": 10}, "PM10": {"concentration": 4.12, "aqi": 3}, "overall_aqi": 155}'],
 ['Madrid',
  b'{"CO": {"concentration": 185.25, "aqi": 2}, "NO2": {"concentration": 0.75, "aqi": 0}, "O3": {"concentration": 97.28, "aqi": 155}, "SO2": {"concentration": 0.17, "aqi": 0}, "PM2.5": {"concentration": 5.22, "aqi": 16}, "PM10": {"concentration": 17.48, "aqi": 16}, "overall_aqi": 155}'],
 ['Paris',
  b'{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration": 2.87, "aqi": 3}, "O3": {"concentration": 110.15, "aqi": 187}, "SO2": {"concentration": 1.62, "aqi": 2}, "PM2.5": {"concentration": 5.51, "aqi": 17}, "PM10": {"concentration": 6.91, "aqi": 6}, "overall_aqi": 187}'],
 ['Berlin',
  b'{"CO": {"concentration": 213.62, "aqi": 2}, "NO2": {"concentration": 2.7, "aqi": 3}, "O3": {"concentration": 95.84, "aqi": 152}, "SO2": {"concentration": 1.48, "aqi": 2}, "PM2.5": {"concentration": 1.85, "aqi": 6}, "PM10": {"concentration": 2.64, "aqi": 2}, "overall_aqi": 152}'],
 ['Milan',
  b'{"CO": {"concentration": 250.34, "aqi": 2}, "NO2": {"concentration": 3.38, "aqi": 4}, "O3": {"concentration": 120.16, "aqi": 201}, "SO2": {"concentration": 0.78, "aqi": 1}, "PM2.5": {"concentration": 2.97, "aqi": 9}, "PM10": {"concentration": 3.51, "aqi": 3}, "overall_aqi": 201}'],
 ['London',
  b'{"CO": {"concentration": 213.62, "aqi": 2}, "NO2": {"concentration": 5.91, "aqi": 7}, "O3": {"concentration": 107.29, "aqi": 180}, "SO2": {"concentration": 3.99, "aqi": 5}, "PM2.5": {"concentration": 2.38, "aqi": 7}, "PM10": {"concentration": 2.66, "aqi": 2}, "overall_aqi": 180}'],
 ['Barcelona',
  b'{"CO": {"concentration": 216.96, "aqi": 2}, "NO2": {"concentration": 1.34, "aqi": 1}, "O3": {"concentration": 128.75, "aqi": 205}, "SO2": {"concentration": 0.47, "aqi": 0}, "PM2.5": {"concentration": 7.83, "aqi": 25}, "PM10": {"concentration": 10.07, "aqi": 9}, "overall_aqi": 205}'],
 ['Frankfurt',
  b'{"CO": {"concentration": 213.62, "aqi": 2}, "NO2": {"concentration": 3.26, "aqi": 4}, "O3": {"concentration": 89.41, "aqi": 136}, "SO2": {"concentration": 1.65, "aqi": 2}, "PM2.5": {"concentration": 7.12, "aqi": 23}, "PM10": {"concentration": 8.32, "aqi": 7}, "overall_aqi": 136}'],
 ['Lisbon',
  b'{"CO": {"concentration": 208.62, "aqi": 2}, "NO2": {"concentration": 0.96, "aqi": 1}, "O3": {"concentration": 123.02, "aqi": 203}, "SO2": {"concentration": 1.34, "aqi": 1}, "PM2.5": {"concentration": 8.93, "aqi": 28}, "PM10": {"concentration": 15.62, "aqi": 14}, "overall_aqi": 203}']]

In [48]:
# requests library handles the HTTP methods and requests for Python
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random
url ='https://air-quality-by-api-ninjas.p.rapidapi.com/v1/airquality'

headers = {
    'X-RapidAPI-Host': 'air-quality-by-api-ninjas.p.rapidapi.com',
    'X-RapidAPI-Key': '39bef7d171msh47b87402a02c35bp1d3674jsn9bc769a834e7'
  }

#params = {'city':['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon'] }
params = {'city':['Dublin'] }

air = requests.get(url,headers = headers,params = {'city': subcity})
soup = BeautifulSoup(air.content)
table = soup.find_all('p')
data =air.json()
data


"""air_city =[]
for city in params.values():
    for subcity in city:
        print(subcity)
        air = requests.get(url,headers = headers,params = {'city': subcity})
        soup = BeautifulSoup(air.content)
        ptable = soup.find_all('p')
        dic = ptable[0].text
        print('Dictionary',dic)
        for element in dic.values():
            print(element)        
        
        air_city.append([subcity,air.content])
        air.headers
"""

"air_city =[]\nfor city in params.values():\n    for subcity in city:\n        print(subcity)\n        air = requests.get(url,headers = headers,params = {'city': subcity})\n        soup = BeautifulSoup(air.content)\n        ptable = soup.find_all('p')\n        dic = ptable[0].text\n        print('Dictionary',dic)\n        for element in dic.values():\n            print(element)        \n        \n        air_city.append([subcity,air.content])\n        air.headers\n"

In [55]:
# requests library handles the HTTP methods and requests for Python
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random
url ='https://air-quality-by-api-ninjas.p.rapidapi.com/v1/airquality'

headers = {
    'X-RapidAPI-Host': 'air-quality-by-api-ninjas.p.rapidapi.com',
    'X-RapidAPI-Key': '39bef7d171msh47b87402a02c35bp1d3674jsn9bc769a834e7'
  }

#params = {'city':['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon'] }
params = {'city':['Dublin'] }

air_city =[]
for city in params.values():
    for subcity in city:
        air = requests.get(url,headers = headers,params = {'city': subcity})
        air_city.append(air.content)
        air.headers
    
data = air.json()
print(data)
lista = list(data.values())
print('overall',lista[6])

{'CO': {'concentration': 205.28, 'aqi': 2}, 'NO2': {'concentration': 3.21, 'aqi': 4}, 'O3': {'concentration': 59.37, 'aqi': 51}, 'SO2': {'concentration': 1.36, 'aqi': 2}, 'PM2.5': {'concentration': 2.19, 'aqi': 7}, 'PM10': {'concentration': 2.49, 'aqi': 2}, 'overall_aqi': 51}
overall 51

In [65]:
# requests library handles the HTTP methods and requests for Python
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random
url ='https://air-quality-by-api-ninjas.p.rapidapi.com/v1/airquality'

headers = {
    'X-RapidAPI-Host': 'air-quality-by-api-ninjas.p.rapidapi.com',
    'X-RapidAPI-Key': '39bef7d171msh47b87402a02c35bp1d3674jsn9bc769a834e7'
  }

params = {'city':['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon'] }
#params = {'city':['Dublin'] }

air_city =[]
cities = []
overall_row = []
for city in params.values():
    for subcity in city:
        air = requests.get(url,headers = headers,params = {'city': subcity})
        air_city.append(air.content)
        air.headers
        data = air.json()
        print(data)
        lista = list(data.values())
        cities.append(subcity)
        overall_row.append(lista[6])
        print('overall',lista[6])

{'CO': {'concentration': 205.28, 'aqi': 2}, 'NO2': {'concentration': 3.21, 'aqi': 4}, 'O3': {'concentration': 59.37, 'aqi': 51}, 'SO2': {'concentration': 1.36, 'aqi': 2}, 'PM2.5': {'concentration': 2.19, 'aqi': 7}, 'PM10': {'concentration': 2.49, 'aqi': 2}, 'overall_aqi': 51}
overall 51
{'CO': {'concentration': 220.3, 'aqi': 2}, 'NO2': {'concentration': 9.08, 'aqi': 11}, 'O3': {'concentration': 97.28, 'aqi': 155}, 'SO2': {'concentration': 1.49, 'aqi': 2}, 'PM2.5': {'concentration': 3.31, 'aqi': 10}, 'PM10': {'concentration': 4.12, 'aqi': 3}, 'overall_aqi': 155}
overall 155
{'CO': {'concentration': 185.25, 'aqi': 2}, 'NO2': {'concentration': 0.75, 'aqi': 0}, 'O3': {'concentration': 97.28, 'aqi': 155}, 'SO2': {'concentration': 0.17, 'aqi': 0}, 'PM2.5': {'concentration': 5.22, 'aqi': 16}, 'PM10': {'concentration': 17.48, 'aqi': 16}, 'overall_aqi': 155}
overall 155
{'CO': {'concentration': 220.3, 'aqi': 2}, 'NO2': {'concentration': 2.87, 'aqi': 3}, 'O3': {'concentration': 110.15, 'aqi': 187}, 'SO2': {'concentration': 1.62, 'aqi': 2}, 'PM2.5': {'concentration': 5.51, 'aqi': 17}, 'PM10': {'concentration': 6.91, 'aqi': 6}, 'overall_aqi': 187}
overall 187
{'CO': {'concentration': 213.62, 'aqi': 2}, 'NO2': {'concentration': 2.7, 'aqi': 3}, 'O3': {'concentration': 95.84, 'aqi': 152}, 'SO2': {'concentration': 1.48, 'aqi': 2}, 'PM2.5': {'concentration': 1.85, 'aqi': 6}, 'PM10': {'concentration': 2.64, 'aqi': 2}, 'overall_aqi': 152}
overall 152
{'CO': {'concentration': 250.34, 'aqi': 2}, 'NO2': {'concentration': 3.38, 'aqi': 4}, 'O3': {'concentration': 120.16, 'aqi': 201}, 'SO2': {'concentration': 0.78, 'aqi': 1}, 'PM2.5': {'concentration': 2.97, 'aqi': 9}, 'PM10': {'concentration': 3.51, 'aqi': 3}, 'overall_aqi': 201}
overall 201
{'CO': {'concentration': 213.62, 'aqi': 2}, 'NO2': {'concentration': 5.91, 'aqi': 7}, 'O3': {'concentration': 107.29, 'aqi': 180}, 'SO2': {'concentration': 3.99, 'aqi': 5}, 'PM2.5': {'concentration': 2.38, 'aqi': 7}, 'PM10': {'concentration': 2.66, 'aqi': 2}, 'overall_aqi': 180}
overall 180
{'CO': {'concentration': 216.96, 'aqi': 2}, 'NO2': {'concentration': 1.34, 'aqi': 1}, 'O3': {'concentration': 128.75, 'aqi': 205}, 'SO2': {'concentration': 0.47, 'aqi': 0}, 'PM2.5': {'concentration': 7.83, 'aqi': 25}, 'PM10': {'concentration': 10.07, 'aqi': 9}, 'overall_aqi': 205}
overall 205
{'CO': {'concentration': 213.62, 'aqi': 2}, 'NO2': {'concentration': 3.26, 'aqi': 4}, 'O3': {'concentration': 89.41, 'aqi': 136}, 'SO2': {'concentration': 1.65, 'aqi': 2}, 'PM2.5': {'concentration': 7.12, 'aqi': 23}, 'PM10': {'concentration': 8.32, 'aqi': 7}, 'overall_aqi': 136}
overall 136
{'CO': {'concentration': 208.62, 'aqi': 2}, 'NO2': {'concentration': 0.96, 'aqi': 1}, 'O3': {'concentration': 123.02, 'aqi': 203}, 'SO2': {'concentration': 1.34, 'aqi': 1}, 'PM2.5': {'concentration': 8.93, 'aqi': 28}, 'PM10': {'concentration': 15.62, 'aqi': 14}, 'overall_aqi': 203}
overall 203

In [66]:
cities

['Dublin',
 'Amsterdam',
 'Madrid',
 'Paris',
 'Berlin',
 'Milan',
 'London',
 'Barcelona',
 'Frankfurt',
 'Lisbon']

In [67]:
overall_row

[51, 155, 155, 187, 152, 201, 180, 205, 136, 203]

In [69]:
df_cities = pd.DataFrame({'City':cities})
df_cities

        City
0     Dublin
1  Amsterdam
2     Madrid
3      Paris
4     Berlin
5      Milan
6     London
7  Barcelona
8  Frankfurt
9     Lisbon

In [70]:
df_overall = pd.DataFrame({'Air_Quality_index_overall':overall_row})
df_overall

   Air_Quality_index_overall
0                         51
1                        155
2                        155
3                        187
4                        152
5                        201
6                        180
7                        205
8                        136
9                        203

In [72]:
maind_aqi = pd.concat([df_cities,df_overall],axis=1)
maind_aqi

        City  Air_Quality_index_overall
0     Dublin                         51
1  Amsterdam                        155
2     Madrid                        155
3      Paris                        187
4     Berlin                        152
5      Milan                        201
6     London                        180
7  Barcelona                        205
8  Frankfurt                        136
9     Lisbon                        203

In [81]:
# requests library handles the HTTP methods and requests for Python
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random
url ='https://air-quality-by-api-ninjas.p.rapidapi.com/v1/airquality'

headers = {
    'X-RapidAPI-Host': 'air-quality-by-api-ninjas.p.rapidapi.com',
    'X-RapidAPI-Key': '39bef7d171msh47b87402a02c35bp1d3674jsn9bc769a834e7'
  }

params = {'city':['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon'] }


cities = []
overall_row = []
count=10

for city in params.values():
    for subcity in city:
        count=count-1
        print("Loading....",count)
        #request to api
        air = requests.get(url,headers = headers,params = {'city': subcity})
        air_city.append(air.content)
        #Change response to json and dict format
        dic_air_json = air.json()
        #Convert dictionary to list
        listair = list(dic_air_json.values())
        #overall dic value to list
        overall_row.append(listair[6])
        # city to list
        cities.append(subcity)
df_cities = pd.DataFrame({'City':cities}) 
df_overall = pd.DataFrame({'Air_Quality_index_overall':overall_row})
maind_aqi = pd.concat([df_cities,df_overall],axis=1)
maind_aqi

Loading.... 9
Loading.... 8
Loading.... 7
Loading.... 6
Loading.... 5
Loading.... 4
Loading.... 3
Loading.... 2
Loading.... 1
Loading.... 0

        City  Air_Quality_index_overall
0     Dublin                         57
1  Amsterdam                        159
2     Madrid                        141
3      Paris                        198
4     Berlin                        152
5      Milan                        198
6     London                        184
7  Barcelona                        204
8  Frankfurt                        141
9     Lisbon                        203